body {
   font-family: brandon-grotesque, sans-serif;
   font-style: normal;
   font-weight: 400;
}

span {
   padding-left: 15px;
}

.our-expertise h3 {
   font-size: 1.5em;

   &.faq {
      margin: 1em 0;
      text-align: left;
      // @media screen and (min-width: 768px){}
      @media (max-width: 768px) {
         margin-left: 20px;
      }
   }
}

.faq-container {
   max-width: 1280px;
   padding-bottom: 1.5em;
   margin: 0 auto;
   width: 90%;
}

.mobile-expertise-faq {
   background-color: #f6f6f6;
}

p.mobile-faq-menu {
   margin: auto;
   padding: 20px;
   border-bottom: solid #eeeeee 1px;
}

.expertise-faq {
   width: 65%;
   display: inline-block;
}

.contact-faq {
   background: #f3f3f3;
   height: 1000px;
   width: 375px;
   float: right;
   display: inline-block;

   @media (max-width: 1280px) {
      float: none;
      display: block;
   }
}

.mobile-faq {
}

// .container {
//   max-width:960px;
//   margin:0 auto;
//   padding:1em 0 1em 0;
// }

/* Style the element that is used to open and close the accordion class */

p.faq-accordion {
   background-color: #fff;
   color: #444;
   cursor: pointer;
   padding: 18px 18px 0px;
   width: 100%;
   text-align: left;
   outline: none;
   transition: 0.4s;
   margin-bottom: 0px;
   border-top: solid #f4f4f4 1px;
   font-weight: 700;
}

/* Add a background color to the accordion if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
p.faq-accordion.active,
p.accordion:hover {
   background-color: #fff;
}

/* Unicode character for "plus" sign (+) */
p.faq-accordion:after {
   content: '\2795';
   font-size: 13px;
   color: #777;
   float: right;
   margin-left: 5px;
}

p.mobile-faq-menu:after {
   content: '\2795';
   font-size: 13px;
   color: #777;
   float: right;
   margin-left: 5px;
}

/* Unicode character for "minus" sign (-) */
p.faq-accordion.active:after {
   content: '\2796';
}

p.mobile-faq-menu.active:after {
   content: '\2796';
}

/* Style the element that is used for the panel class */
div.faq-panel {
   // padding: 5px 18px;
   background-color: white;
   max-height: 0;
   overflow: hidden;
   transition: 0.6s ease-in-out;
   opacity: 0;
   text-align: left;
   padding-left: 18px;
   max-width: 580px;
   // margin: 5px 0px;
}

div.faq-panel.show {
   opacity: 1;
   max-height: 750px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}

div.mobile-faq-panel {
   // padding: 5px 18px;
   background-color: white;
   max-height: 0;
   overflow: hidden;
   transition: 0.6s ease-in-out;
   opacity: 0;
   text-align: left;
   padding-left: 18px;
   // max-width: 580px;
   // margin: 5px 0px;
}

div.mobile-faq-panel.show {
   opacity: 1;
   max-height: 750px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}
